{% extends "admin_base.html" %}
{% block title %}Admin Company Page{% endblock %}
{% block content %}

<div class="main">
    <div class="search">
        <h1 class="h3 mb-1 mt-2">Company Management</h1>
        <div class="col-md-6 ms-auto">

            <input class="p-1" style="border-radius: 10px;" type="search" placeholder="Enter Name ...">
            <button class="p-1 " style="border-radius: 50px;" type="submit">_Q_</button>
            <button style="border-radius: 10px;" class="bg-info p-1" type="submit">Add Company</button>
        </div>
    </div>
    <main class="p-4 mt-3">
        <div class="p-3">
            <h5>Company</h5>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sr.No</th>
                        <th>Company Name</th>
                        <th>Drives</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Company 2</td>
                        <td><button style="border-radius: 10px;" class="bg-info">View Drives</button></td>
                        <td><button style="border-radius: 10px;" class="bg-danger" type="button">REJECT</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class=" p-3 mt-3">
            <h5>Blocked Company</h5>
            <table class="table table-bordered mt-2">
                <thead>
                    <tr>
                        <th>Sr.No</th>
                        <th>Company Name</th>
                        <th>Drives</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Company 2</td>
                        <td><button style="border-radius: 10px;" class="bg-info">View Details</button></td>
                        <td><button style="border-radius: 10px;" class="bg-danger" type="button">APPROVE</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>
{% endblock %}