<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registraion page</title>
    <style>
        body {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        .main {
            margin-left: 50px;
            margin-top: 50px;
            margin-bottom: 25px;
        }

        .det {
            margin-top: 25px;
            margin-left: 50px;
            margin-bottom: 25px;
        }
    </style>
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class=flashes>
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <div class="register_as">
        <button type="button" onclick="toggleForms()">Student</button>
        <button type="button" onclick="toggleForms()">Company</button>
    </div>
    <form id="form1" action="/register_company" method="POST">
        <h2>Company Registraion Form
        </h2>

        <div class="main">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required>

            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required>

            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
        </div>
        <hr>
        <div class="det">
            <label for="name">Company Name :</label>
            <input type="text" name="name" id="name" placeholder="Company Name" required>

            <label for="name">Hr Contact :</label>
            <input type="text" name="hr" id="hr" placeholder="Hr Contact" required>

            <label for="name">Website :</label>
            <input type="text" name="website" id="website" placeholder="Website" required>
        </div>

        <br>
        <button style="margin-left: 100px;" type="submit">Register</button>

    </form>

    <form id="form2" action="/student_register" method="POST" style="display: none;">
        <h2>Student Registraion form</h2>


        <div class="main">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required>

            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required>

            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
        </div>
        <hr>
        <div class="det">
            <label for="name">Student Name :</label>
            <input type="text" name="name" id="name" placeholder="Student Name" required>

            <label for="name">Branch :</label>
            <input type="text" name="branch" id="branch" placeholder="branch" required>
            <label for="name">cgpa :</label>
            <input type="float" name="cgpa" id="cgpa" placeholder="Cgpa..." required>

            <label for="name">Resume Path :</label>
            <input type="text" name="resume_path" id="resume_path" placeholder="Resume..." required>
        </div>
        <br>
        <button type="submit">Register</button>

    </form>

    <div class="footer">
        <p>Already have an Account <a style="text-decoration: none;" href="{{url_for('login')}}">Login Here</a></p>
    </div>

    <script>
        function toggleForms() {
            var form1 = document.getElementById('form1');
            var form2 = document.getElementById('form2');

            if (form1.style.display === 'none') {
                // If Form 1 is hidden, show it and hide Form 2
                form1.style.display = 'block';
                form2.style.display = 'none';
            } else {
                // If Form 1 is shown, hide it and show Form 2
                form1.style.display = 'none';
                form2.style.display = 'block';
            }
        }

    </script>
</body>

</html>